script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.min.js')

script(type="text/javascript", src='/scripts/underscore-min.js')
script(type="text/javascript", src='/scripts/socket.io.js')

script(src='/components/angular-ui-router/release/angular-ui-router.js')

//APP
script(type="text/javascript", src="/app/app.js")

//CONFIG
script(type="text/javascript", src="/app/_config/streamLabsConstants.js")

//FILTERS
script(type="text/javascript", src="/app/_filters/filters.js")

//DIRECTIVES
script(type="text/javascript", src="/app/_directives/webm.js")

//FACTORIES
script(type="text/javascript", src="/app/_factories/eventFactory.js")

//CONTROLLERS
script(type="text/javascript", src="/app/overlordCtrl.js")
script(type="text/javascript", src="/app/home/homeCtrl.js")

